.menu__btn-close {
  border: none;
  outline: none;
  background: transparent;
  /* width: 22px;
  height: 22px; */
  /* margin: 0px 18px 43px 18px; */
  display: none;
  padding: 0;
  position: absolute;
  top: 23px;
  left: 18px;
}

@media (max-width: 1010px) {
  .menu__btn-close {
    display: block;
  }
}
