.menu__item {
  margin: 0;
  padding: 0;
  display: inline;
  margin-right: 33px;
  justify-content: center;
}

.menu__item:last-of-type {
  margin-right: 0;
}

@media (max-width: 1010px) {
  .menu__item {
    margin: 0;
    padding: 0;
    display: block;
    justify-content: center;
    padding: 0 0 25px 18px;
  }
}
